* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 12%;
    background: #ffffff;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: blue;
    text-align: center;
    border: 1px solid pink;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}


form, .content{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;

    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(68, 68, 82);
    border: none;
    border-radius: 5px;
}

.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid red;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}


